* @aiagrp/ged-organization-dev-lead @aiagrp/ged-alicloud-project-dev-lead @aiagrp/ged-alicloud-app-dev-lead-module-security-group
.github/ @aiagrp/ged-organization-devsecops-lead @aiagrp/ged-alicloud-project-devsecops-lead
